<template>
  <div id="app">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <router-link to="/" class="navbar-brand">
          <img alt="Brand" src="/static/assets/python.png" style="height: 20px; width: 20px;">
        </router-link>

        <div class="navbar-header">
          <router-link to="/" class="navbar-brand">Python Boilerplate</router-link>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li v-bind:class="{ active: currentRoutePath === '/' }"><router-link to="/">Home</router-link></li> -->
            <li v-bind:class="{ active: currentRoutePath === '/about' }"><router-link to="/about">About</router-link></li>
            <li v-if="showSettings" v-bind:class="{ active: currentRoutePath === '/settings' }"><router-link to="/settings">Settings</router-link></li>
          </ul>
          <p class="navbar-text"></p>
          <p class="navbar-text" v-show="isLoading"><img src="/static/assets/load1.gif" style="height: 18px; "/></p>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-share"><span class="navbar-text"><a href="https://twitter.com/@metachris" target="_blank" class="twitter"><icon name="twitter"></icon></a></span></li>
            <li class="nav-share"><span class="navbar-text"><a href="mailto:hello@python-boilerplate.com" class="email"><icon name="envelope"></icon></a></span></li>
          </ul>

        </div>
      </div/>
    </nav>

    <router-view></router-view>
  </div>
</template>

<script>
// import { navbar } from 'vue-strap'

import { mapGetters } from 'vuex'
import Choices from './components/Choices'
import Files from './components/Files'

import '../static/css/bootstrap-custom.min.css'
import '../static/css/highlight/default.css'
import Clipboard from 'clipboard'
import { ENABLE_FEATURE_SETTINGS } from './settings'

export default {
  computed: {
    showSettings: state => ENABLE_FEATURE_SETTINGS,
    ...mapGetters([
      'currentRoutePath',
      'isLoading'
    ])
  },
  components: {
    Choices, Files
  },
  created: function () {
    // Enable clipboard button
    /* eslint-disable no-new */
    new Clipboard('.btn-clipboard')
  }
}
</script>

<style>
html {
  overflow-y: scroll;
}

#app {
  padding: 0px;
}

.pybp-nav {
  display: block;
}

.navbar {
  z-index: 1;
}

.navbar-default .navbar-brand {
    color: #363636;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #4c4c4c;
    background-color: none;
}

.nav-share {
  font-size: 0.9em;

}
.nav-share .fa {
  margin-left: 5px;
  margin-right: 5px;
}
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

@media (max-width: 767px) { /* Change this to 0 */
  .navbar-collapse {
    display: none;
  }
}

.nav-share {
  margin-top: 3px;
  margin-left: 2px;
}

.nav-share .navbar-text {
    margin-left: 10px;
    margin-right: 10px;}

.nav-share a.twitter {
  color: #00aced;
}

.nav-share a.email {
  color: #777;
}

.nav-share a {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.nav-share a:hover {
  opacity: 1.0;
}

</style>
